# Name: MicroCT_Plugin
# Author: Karl-Heinz Kunzelman
# Version: 1.0
# Date: 13.04.2008
# Requires: > ImageJ 1.38
# Generate the jar file using: "jar cvfM microct_.jar *"

File>Import, "KHKs Scanco microCT ISQ FileReader...", KHKs_Scanco_ISQ_FileReader
File>Import, "KHKs und Micheals ISQ FileReader...", ISQ_Reader
File>Import, "KHKs Shimadzu microCT FileReader", KHKs_Shimadzu_uCT_FileReader
Plugins>KHKs MicroCT Tools, "KHKs Crop_ISQ", KHKs_Crop_ISQ
Plugins>KHKs MicroCT Tools, "Import_Aim", Import_Aim
Plugins>KHKs MicroCT Tools, "Import_Aim_Header", Import_Aim_Header
Plugins>KHKs MicroCT Tools, "KHKs Scanco microCT ISQ HeaderReader...", KHKs_Scanco_ISQ_HeaderReader
# Plugins>KHKs MicroCT Tools, "Import_ISQ", Import_ISQ
Plugins>KHKs MicroCT Tools, "microCT_goes_Microradiography_3", microCT_goes_Microradiography_3
Plugins>KHKs MicroCT Tools, "StackWriter_addedSlicer", StackWriter_addedSlicer
Plugins>KHKs MicroCT Tools, "Voxel_Counter", Voxel_Counter
# Plugins>KHKs MicroCT Tools, "",
# Help>About Plugins, "microCT...", JAR_Plugin("about2")
Help>About Plugins, "KHKs Plugins...", KHKs_Website




#        Menu>Submenu, "Command", Plugin 
#
#    creates an ImageJ menu command. There are three parts, separated by commas. The first specifies the menu where the command will be installed, the second is the command name, and the third is the plugin. As an example, the line
#
#        File>Save As, "JAR Demo (Save As)...", JAR_Plugin("save") 

#    installs the command "JAR Demo (Save As)..." in the File>Save As menu. When the user selects this command ImageJ runs the plugin JAR_Plugin.class, passing it the argument "save".

#    Plugins can be installed in the File>Import, File>Save As, Edit>Options, Analyze>Tools, Help>About Plugins and Plugins menu and submenus. If Plugins>Submenu is specified, the command will installed in the submenu of the Plugins manu named Submenu. If this submenu does not exist, it is created. If Plugins is specified, the command will be installed in the submenu of the Plugins menu that corresponds to the directory containing the JAR file. For example, if the JAR file is in ImageJ/plugins/jars, the command will be installed in Plugins>jars.

#    JAR files are basically the same as ZIP files. They are created using the command line jar utility or a ZIP utility such WinZip. The jar utility is included with Sun's free Java SDK (aka JDK). It is pre-installed on Mac OS X.

#    On Windows, use the jar utility included with the Java Software Development Kit (SDK) from Sun:

#       1. Open a command line window
#       2. Change (cd) to the directory containing the plugin(s) and plugins.config file
#       3. Type "C:\jdk1.5.0\bin\jar cvfM Name_of_Package.jar *" (assumes the SDK is installed in C:\jdk1.5.0) 
